<div class="m-auto col-md-12 post-card" data-id="{{post.id}}" id="postId">
    <div class='display-flex justify-space-between p-3 post-header'> 
        <p>{{post.title}}</p>
        <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </div>
    <div class='post-body'>
        <p>{{post.body}}</p>
    </div>
    <div class="comments">
        <h2 class="text-center">What's Your Take?</h2>
        <form class="form">
      <div>
        <input class="form-input" type="text" id="comment" />
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit" id="commentShareBtn">Share with Us</button>
      </div>
    </form>
        {{#each post.comments as |comment|}} 
            <div class="display-flex flex-column p-2 m-1 bg-black">
                <div class="display-flex m-1 text-white justify-space-between">
                    <div>{{comment.user.username}}</div>
                    <div>{{format_date_time comment.createdAt}}</div>
                </div>
                <div class="m-2 p-2 bg-white">{{comment.comment}}</div>
            </div>
        {{/each}}
    </div>
</div>

<script src="./../js/comment-share.js"></script>