<div class="container display-flex justify-space-between">
<div class="post-card m-auto col-md-12" data-id="{{post.id}}" id="postId">
    <div class='display-flex justify-space-between p-3 post-header'> 
        <p>{{post.title}}</p>
        <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </div>
    <div class="post-body">
        <p>{{post.body}}</p>
    </div>
    <div class="comments display-flex flex-column p-5 m-2">
            <h2 class="text-center">Join the Convo</h2>
        <div>
        {{#each post.comments as |comment|}} 
            <div class="display-flex flex-column p-2 m-1 bg-black">
                <div class="display-flex m-1 text-white justify-space-between">
                    <div>{{comment.user.username}}</div>
                    <div>{{format_date_time comment.createdAt}}</div>
                </div>
                <div class="m-2 p-2 bg-white">{{comment.comment}}</div>
            </div>
        {{/each}}
        </div>
        <div class="text-center">
        {{#if loggedIn}}
            <button class=" btn btn-primary" id="commentCreateBtn">Share Your Thoughts</button>
            {{/if}}
    </div>
</div>
</div>

<script src="./../js/comment.js"></script>