<main class="container p-5 align-center" id="mainBody">
      <div class='display-flex justify-space-between p-3 mb-3 user-post' data-id="{{post.id}}"> 
        <p class="post-header-text">{{post.title}}</p>
        <p class="post-body-text">{{format_date post.createdAt}}</p>
      </div>
<div class="display-flex justify-space-between p-3 mb-3 user-post flex-column ">
    <div>
        <div>
            <h2 class="page-title" id="postId" data-id="{{post.id}}">UPDATE YOUR POST</h2>
        <form class="form create-post-form">
            <div class="form-group">
                <label for="post-title">New Title</label>
                <input class="form-input" type="text" id="title" value="{{post.title}}"/>
            </div>
            <div class="form-group">
                <label for="body">New Content</label>
                <input class="form-input" id="body" value="{{post.body}}" />
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" type="submit" id="postUpdate">Update</button>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-secondary" type="submit" id="postDelete">Delete</button>
            </div>
        </form>
        </div>
    </div>
</div>
</main>
<script src="./../js/post-update.js"></script>